@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Draw a parabola!</h1>
    <p>
        y = a(x * x) + bx + c
    </p>
    a = <input type="text" id ="a"/>
    <br/>
    b = <input type="text" id="b" />
    <br />
    c = <input type="text" id="c" />
    <br/>
    <button id="go">Go!</button>
    <br />
    <canvas id="parabolaCanvas" width="900" height="600" style="border-style: solid; border-width: 1px;"></canvas>

</div>

<script src="/Scripts/home.js"></script>


